<%- include("partials/header.ejs") %>


    <div class="container">
        <h1 class="my-4">Edit Blog</h1>

        <form action="/edit/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content" rows="6"
                    required><%= post.content %></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>



    <%- include("partials/footer.ejs") %>